@model ASP_WEB.Models.Theme

@{
    ViewBag.Title = "Maak een thema";
}
<div class="wrapper"></div>
<h2>@ViewBag.Title</h2>

<form action="CreateTheme" method="post" enctype="multipart/form-data" class="form">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Name">Naam</label>
        <input type="text" name="Name" id="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="file">Foto kiezen</label>
        <input type="file" name="file" id="browse" class="form-control" />
        <div id="preview"></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Bevestig" class="btn btn-default" id="enabledisable" />
        <a href="/Admin/Themes">
            <div class="btn btn-default">
                Terug naar de thema's
            </div>
        </a>
    </div>
</form>
<script src="~/Scripts/photoCheck.js"></script>
