
@{
    ViewBag.Title = "Index";
}
<div class="wrapper"></div>
<h2>Index</h2>
<a href="/Admin/Faqs" class="btn btn-lg btn-primary">Veelgestelde vragen</a>
<a href="/Admin/Subthemes" class="btn btn-lg btn-primary">Subthema's</a>
<a href="/Admin/Themes" class="btn btn-lg btn-primary">Thema's</a>
<a href="/Admin/Offices" class="btn btn-lg btn-primary">Diensten</a>