
@{
    ViewBag.Title = "Index";
}
<div class="wrapper"></div>
<h2>Index</h2>
@Html.ActionLink("Faq", "Faqs")
@Html.ActionLink("Subtheme", "Subthemes")
@Html.ActionLink("Theme", "Themes")
@Html.ActionLink("Office", "Offices")