
@{
    ViewBag.Title = "Contact";
}
<div class="wrapper">
</div>
<div class="contactContent">
    <div class="toeleiders container-fluid">
        <div class="toeleidersFoto">
            <h1>Toeleiders in diversiteit</h1>
            <div class="toeleider">
                <div>
                    <img class="toeleidersPic img-circle" />
                </div>

                <h2>Fatima El Ghazoini</h2>
                <div class="imagesToeleiders">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Telefoon" />
                    <p class="hidden-sm hidden-xs">
                        <a href="tel:++32483038685" target="_blank">0483038685</a>
                    </p>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                    <p class="hidden-sm hidden-xs">
                        <a href="mailto:toeleiders@kortrijk.be" target="_blank">toeleiders@kortrijk.be</a>
                    </p>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                    <p class="hidden-sm hidden-xs">
                        <a href="http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk" target="_blank">Wijngaardstraat 11, 8500 Kortrijk</a>
                    </p>
                </div>
            </div>
            <div class="toeleider">
                <div>
                    <img class="toeleidersPic img-circle" />
                </div>

                <h2>Madinat Ozdoeva</h2>
                <div class="imagesToeleiders">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Telefoon" />
                    <p class="hidden-sm hidden-xs">
                        <a href="tel:+32495275953" target="_blank">0495275953</a>
                    </p>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                    <p class="hidden-sm hidden-xs">
                        <a href="mailto:toeleiders@kortrijk.be" target="_blank">toeleiders@kortrijk.be</a>
                    </p>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                    <p class="hidden-sm hidden-xs">
                        <a href="http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk" target="_blank">Wijngaardstraat 11, 8500 Kortrijk</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="toeleidersTekst">
            <h1>Toeleiders in diversiteit</h1>
            <h3>Wat doen ze?</h3>
            <p>Voor mensen die nieuw zijn in de stad, een andere taal spreken, uit een ander land komen, is het soms moeilijk om de weg te vinden in de stad en te weten waar ze naar toe kunnen met hun vragen en problemen. Er zijn zoveel dingen die onduidelijk zijn, die moeten worden geregeld of die ingewikkeld zijn als je de taal of de regels niet begrijpt.</p>
            <p>Toeleiders zijn brugfiguren. zij leggen een brug tussen deze mensen van buitelandse herkomst en diensten en organisaties in Kortrijk. Ze maken deze mensen weg-wijs: ze tonen de weg, zowel online als offline, in documenten en papieren, of door letterlijk mee op stap te gaan naar de verschillende diensten en organisaties in de stad.</p>
            <p>Toeleiders informeren en motiveren, verwijzen door naar hulp- en dienstverlening, loketten in het stadhuis, projecten, (vrijetijds) organisaties en andere partners en brugfiguren in de stad. Bij dit alles zorgen ze ervoor dat de persoon die ze op weg helpen zelfredzamer wordt.</p>
        </div>
    </div>
    <div class="meldpunt container-fluid">
        <div class="meldpuntTekst">
            <h1>Meldpunt 1777</h1>
            <h3>Wat is 1777?</h3>
            <p>1777 is de voordeur van de stad. 1777 luistert naar al uw vragen, voorstellen, opmerkingen en problemen. Je kan bellen naar het gratis telefoonnummer, een e-mail sturen, het meldingsformulier invullen op de website of de smartphone app gebruiken. Of kom naar de onthaalbalie tijdens de openingsuren van het stadhuis.</p>
            <h3>Waarvoor kan je terecht bij 1777?</h3>
            <p>
                • melden van een kapotte straatlamp, sluikstort of zwerfvuil,
                slecht wegdek, verzakt voetpad
                • openingstijden en het maken van een afspraak
                • evenementen van de stad
                • inschrijven voor computerlessen
                • vragen over je identiteitskaart, reispas...
                • info over premies (isolatie, verwarming, thuiszorg, hulp aan bejaarden...)
                • de aanvraag van maaltijden thuis of in het dienstencentrum
                • info over thuiszorg (woonzorgverlening, poetsdienst, gezinszorg...)
                • als je het stadsbestuur of de stadsteams wilt bereiken
                • voorstellen om onze werking te verbeteren
            </p>
            <h3>Maar ook voor: </h3>
            <p>
                • info over ergo aan huis
                • info over budgetmeter, waterscan, energiescan, ...
                • aanvragen blauwe parkeerkaart
                • pensioenaanvraag
                • een omver gereden verkeersbord, vragen over het ophalen van vuilniszakken, snoeien van bomen
                • info over het aanbod van de lokale dienstencentra (pedicure, vervoer, boodschappendienst, wassalon, klusjesdienst, ...)
            </p>
            <h3>Wat gebeurt er met je vraag?</h3>
            <p>
                Uw vraag wordt zo snel mogelijk beantwoord. Soms kan dit onmiddellijk, in andere gevallen vraagt dit wat meer tijd. Indien nodig schakelen we je door naar het juiste team én de juiste persoon. 1777 staat in voor contact met alle diensten van de stad en het OCMW, maar ook met de politie, brandweer, Parko, Waterwegen en Zeekanaal ...We houden je steeds op de hoogte van wat er gebeurt met uw vraag.
                Dankzij alle vragen, opmerkingen en suggesties die bij 1777 terechtkomen, kan onze dienstverlening er alleen maar beter op worden.
            </p>
        </div>
        <div class="meldpuntFormulier">
            <div class="inputMeldpunt">
                <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" />
                <h4>Via het meldpunt 1777</h4>
                <form action="/Home/Contact" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="Name">Naam:</label>
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email: </label>
                        <input type="email" name="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Subject">Onderwerp: </label>
                        <input type="text" name="Subject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Beschrijving: </label>
                        <textarea id="1" name="Description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="2" type="submit" value="Verzenden" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="inputContact">
                <div>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" />
                    <h4>Bel ons op 1777</h4>
                </div>
                <div>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" />
                    <h4>Bel ons op 0032 56 27 72</h4>
                </div>
                <div>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/iphoneCircle.png" />
                    <h4>Via de 1777 app</h4>
                </div>
                <div>
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" />
                    <h4>Via het onthaal in het stadhuis</h4>
                </div>
                <div id="openingsuren">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/calendarCircle.png" />
                    <h2>Openingsuren:</h2>

                    <ul>
                        <li>Maandag: 11.00 - 18.00    </li>
                        <li>Dinsdag: 11.00 - 18.00    </li>
                        <li>Woensdag: 11.00 - 18.00   </li>
                        <li>Donderdag: 11.00 - 18.00  </li>
                        <li>Vrijdag: 11.00 - 18.00    </li>
                        <li>Zaterdag: 11.00 - 18.00   </li>
                        <li>Zondag: gesloten          </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

