@{
    ViewBag.Title = "TestDesignResultaat";
}
<div class="wrapper"></div>
<div class="resultaatContent">
    <div class="resultaatImage">
        <img />
    </div>
    <h3>Wat is 1777?</h3>
    <p>1777 is de voordeur van de stad. 1777 luistert naar al uw vragen, voorstellen, opmerkingen en problemen. Je kan bellen naar het gratis telefoonnummer, een e-mail sturen, het meldingsformulier </p>
    <div class="collapse" id="collapseTekst2">
        <p>invullen op de website of de smartphone app gebruiken. Of kom naar de onthaalbalie tijdens de openingsuren van het stadhuis.</p>
    </div>
    <div style="width:100%; height:20px;">
        <div class="leesmeer">
            <img src="https://integratiekortrijk.blob.core.windows.net/images/arrowRightCircle.png" alt="Locatie" />
            <p><a data-toggle="collapse" href="#collapseTekst2">LEES MEER</a></p>
        </div>
    </div>
</div>
<div class="resultaatLine">

</div>
