
@{
    ViewBag.Title = "Contact";
}
<div class="wrapper">
</div>
<div class="contactContent">
    <div class="toeleiders container-fluid">
        <div class="toeleidersFoto">
            <h1>Toeleiders in diversiteit</h1>
            <div class="toeleider">
                <div>
                    <img class="toeleidersPic img-circle" src="https://integratiekortrijk.blob.core.windows.net/images/Fatima.PNG" />
                </div>
                <h2>Fatima El Ghazoini</h2>
                <div class="imagesToeleiders">
                    <div class="hidden-xs hidden-sm toeleidersImageLG">
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Telefoon" />
                        <a href="tel:0483038685">
                            <p class="hidden-sm hidden-xs">
                                0483 03 86 85
                            </p>
                        </a>
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                        <a href="mailto:toeleiders@kortrijk.be" target="_blank">
                            <p class="hidden-sm hidden-xs">
                                toeleiders@kortrijk.be
                            </p>
                        </a>
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                        <a href="http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk" target="_blank">
                            <p class="hidden-sm hidden-xs">
                                Wijngaardstraat 11, 8500 Kortrijk
                            </p>
                        </a>
                    </div>
                    <div class="hidden-md hidden-lg toeleidersImageSm">
                        <a href="tel:0483038685">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Telefoon" />
                        </a>
                        <a href="mailto:toeleiders@kortrijk.be">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                        </a>
                        <a href="tel:http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="toeleider">
                <div>
                    <img class="toeleidersPic img-circle" src="https://integratiekortrijk.blob.core.windows.net/images/Madinat.PNG" />
                </div>
                <h2>Madinat Ozdoeva</h2>
                <div class="imagesToeleiders">
                    <div class="hidden-xs hidden-sm toeleidersImageLG">
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Telefoon" />
                        <p class="hidden-sm hidden-xs">
                            <a href="tel:+32495275953" target="_blank">0495 27 59 53</a>
                        </p>
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                        <p class="hidden-sm hidden-xs">
                            <a href="mailto:toeleiders@kortrijk.be" target="_blank">toeleiders@kortrijk.be</a>
                        </p>
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                        <p class="hidden-sm hidden-xs">
                            <a href="http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk" target="_blank">Wijngaardstraat 11, 8500 Kortrijk</a>
                        </p>
                    </div>
                    <div class="hidden-md hidden-lg toeleidersImageSm">
                        <a href="tel:0483038685" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Telefoon" />
                        </a>
                        <a href="mailto:toeleiders@kortrijk.be" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                        </a>
                        <a href="tel:http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="toeleidersTekst" id="txtLG">
            <h1>Toeleiders in diversiteit</h1>
            <h3>Wat doen ze?</h3>
            <p>Voor mensen die nieuw zijn in de stad, een andere taal spreken, uit een ander land komen, is het soms moeilijk om de weg te vinden in de stad en te weten waar ze naar toe kunnen met hun</p>
            <p>vragen en problemen. Er zijn zoveel dingen die onduidelijk zijn, die moeten worden geregeld of die ingewikkeld zijn als je de taal of de regels niet begrijpt.</p>
            <p>Toeleiders zijn brugfiguren. zij leggen een brug tussen deze mensen van buitelandse herkomst en diensten en organisaties in Kortrijk. Ze maken deze mensen weg-wijs: ze tonen de weg, zowel online als offline, in documenten en papieren, of door letterlijk mee op stap te gaan naar de verschillende diensten en organisaties in de stad.</p>
            <p>Toeleiders informeren en motiveren, verwijzen door naar hulp- en dienstverlening, loketten in het stadhuis, projecten, (vrijetijds) organisaties en andere partners en brugfiguren in de stad. Bij dit alles zorgen ze ervoor dat de persoon die ze op weg helpen zelfredzamer wordt.</p>
        </div>
        <div class="toeleidersTekst" id="txtSM">
            <h1>Toeleiders in diversiteit</h1>
            <h3>Wat doen ze?</h3>
            <p>Voor mensen die nieuw zijn in de stad, een andere taal spreken, uit een ander land komen, is het soms moeilijk om de weg te vinden in de stad en te weten waar ze naar toe kunnen met hun...</p>
            <div class="collapse" id="collapseTekst">
                <p>vragen en problemen. Er zijn zoveel dingen die onduidelijk zijn, die moeten worden geregeld of die ingewikkeld zijn als je de taal of de regels niet begrijpt.</p>
                <p>Toeleiders zijn brugfiguren. zij leggen een brug tussen deze mensen van buitelandse herkomst en diensten en organisaties in Kortrijk. Ze maken deze mensen weg-wijs: ze tonen de weg, zowel online als offline, in documenten en papieren, of door letterlijk mee op stap te gaan naar de verschillende diensten en organisaties in de stad.</p>
                <p>Toeleiders informeren en motiveren, verwijzen door naar hulp- en dienstverlening, loketten in het stadhuis, projecten, (vrijetijds) organisaties en andere partners en brugfiguren in de stad. Bij dit alles zorgen ze ervoor dat de persoon die ze op weg helpen zelfredzamer wordt.</p>
            </div>
            <div class="leesmeer">
                <img id="leesMinder1img" src="https://integratiekortrijk.blob.core.windows.net/images/arrowRightCircle.png" alt="Locatie" />
                <p><a data-toggle="collapse" href="#collapseTekst" id="leesMinder1">LEES MEER</a></p>
            </div>
        </div>
    </div>
    <div class="hidden-md hidden-lg" style="text-align: center;">
        <h1>Meldpunt 1777</h1>
    </div>
    <div class="hidden-lg hidden-md contactUS container">
        <div class="row">
            <div class="col-xs-3 col-sm-3">
                <a href="mailto:toeleiders@kortrijk.be" target="_blank">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" alt="Email" />
                    <p>Mail ons</p>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="http://maps.apple.com/?q=Wijngaardstraat%2011,%208500%20Kortrijk" target="_blank">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" alt="Locatie" />
                    <p>Bezoek ons</p>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="tel:0483038685" target="_blank">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" alt="Locatie" />
                    <p>Bel ons</p>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a href="https://play.google.com/store/apps/details?id=be.itidea.app1777" target="_blank">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/iphoneCircle.png" alt="Telefoon" />
                    <p>Via de app</p>
                </a>
            </div>
        </div>
    </div>
    <div class="meldpuntWrapper"></div>
        <div class="meldpunt container-fluid">
            <div class="meldpuntTekst hidden-xs hidden-sm">
                <h1>Meldpunt 1777</h1>
                <h3>Wat is 1777?</h3>
                <p>1777 is de voordeur van de stad. 1777 luistert naar al uw vragen, voorstellen, opmerkingen en problemen. Je kan bellen naar het gratis telefoonnummer, een e-mail sturen, het meldingsformulier invullen op de website of de smartphone app gebruiken. Of kom naar de onthaalbalie tijdens de openingsuren van het stadhuis.</p>
                <h3>Waarvoor kan je terecht bij 1777?</h3>
                <ul>
                    <li>melden van een kapotte straatlamp, sluikstort of zwerfvuil,</li>
                    <li>slecht wegdek, verzakt voetpad</li>
                    <li>openingstijden en het maken van een afspraak</li>
                    <li>evenementen van de stad</li>
                    <li>inschrijven voor computerlessen</li>
                    <li>vragen over je identiteitskaart, reispas...</li>
                    <li>info over premies (isolatie, verwarming, thuiszorg, hulp aan bejaarden...)</li>
                    <li>de aanvraag van maaltijden thuis of in het dienstencentrum</li>
                    <li>info over thuiszorg (woonzorgverlening, poetsdienst, gezinszorg...)</li>
                    <li>als je het stadsbestuur of de stadsteams wilt bereiken</li>
                    <li>voorstellen om onze werking te verbeteren</li>
                </ul>
                <h3>Maar ook voor: </h3>
                <ul>
                    <li>info over ergo aan huis</li>
                    <li>info over budgetmeter, waterscan, energiescan, ...</li>
                    <li>aanvragen blauwe parkeerkaart</li>
                    <li>pensioenaanvraag</li>
                    <li>een omver gereden verkeersbord, vragen over het ophalen van vuilniszakken, snoeien van bomen</li>
                    <li>info over het aanbod van de lokale dienstencentra (pedicure, vervoer, boodschappendienst, wassalon, klusjesdienst, ...)</li>
                </ul>
                <h3>Wat gebeurt er met je vraag?</h3>
                <p>
                    Uw vraag wordt zo snel mogelijk beantwoord. Soms kan dit onmiddellijk, in andere gevallen vraagt dit wat meer tijd. Indien nodig schakelen we je door naar het juiste team én de juiste persoon. 1777 staat in voor contact met alle diensten van de stad en het OCMW, maar ook met de politie, brandweer, Parko, Waterwegen en Zeekanaal ...We houden je steeds op de hoogte van wat er gebeurt met uw vraag.
                    Dankzij alle vragen, opmerkingen en suggesties die bij 1777 terechtkomen, kan onze dienstverlening er alleen maar beter op worden.
                </p>
            </div>
            <div class="meldpuntTekst hidden-md hidden-lg">
                <h1 class="hidden-sm hidden-xs">Meldpunt 1777</h1>
                <h3>Wat is 1777?</h3>
                <p>1777 is de voordeur van de stad. 1777 luistert naar al uw vragen, voorstellen, opmerkingen en problemen. Je kan bellen naar het gratis telefoonnummer, een e-mail sturen, het meldingsformulier </p>
                <div class="collapse" id="collapseTekst2">
                    <p>invullen op de website of de smartphone app gebruiken. Of kom naar de onthaalbalie tijdens de openingsuren van het stadhuis.</p>
                </div>
                <div>
                    <div class="leesmeer">
                        <img id="leesMinder2img" src="https://integratiekortrijk.blob.core.windows.net/images/arrowRightCircle.png" alt="Locatie" />
                        <p><a data-toggle="collapse" href="#collapseTekst2" id="leesMinder2">LEES MEER</a></p>
                    </div>
                </div>
                <h3>Waarvoor kan je terecht bij 1777?</h3>
                <div class="collapseList">
                    <ul>
                        <li>melden van een kapotte straatlamp, sluikstort of zwerfvuil,</li>
                        <li>slecht wegdek, verzakt voetpad</li>
                        <li>openingstijden en het maken van een afspraak</li>
                    </ul>
                    <div class="collapse" id="collapseTekst3">
                        <ul>
                            <li>evenementen van de stad</li>
                            <li>inschrijven voor computerlessen</li>
                            <li>vragen over je identiteitskaart, reispas...</li>
                            <li>info over premies (isolatie, verwarming, thuiszorg, hulp aan bejaarden...)</li>
                            <li>de aanvraag van maaltijden thuis of in het dienstencentrum</li>
                            <li>info over thuiszorg (woonzorgverlening, poetsdienst, gezinszorg...)</li>
                            <li>als je het stadsbestuur of de stadsteams wilt bereiken</li>
                            <li>voorstellen om onze werking te verbeteren</li>
                        </ul>
                        <h3>Maar ook voor: </h3>
                        <ul>
                            <li>info over ergo aan huis</li>
                            <li>info over budgetmeter, waterscan, energiescan, ...</li>
                            <li>aanvragen blauwe parkeerkaart</li>
                            <li>pensioenaanvraag</li>
                            <li>een omver gereden verkeersbord, vragen over het ophalen van vuilniszakken, snoeien van bomen</li>
                            <li>info over het aanbod van de lokale dienstencentra (pedicure, vervoer, boodschappendienst, wassalon, klusjesdienst, ...)</li>
                        </ul>
                    </div>
                    <div style="width:100%; height:20px;">
                        <div class="leesmeer">
                            <img id="leesMinder3img" src="https://integratiekortrijk.blob.core.windows.net/images/arrowRightCircle.png" alt="Locatie" />
                            <p><a data-toggle="collapse" href="#collapseTekst3" id="leesMinder3">LEES MEER</a></p>
                        </div>
                    </div>
                </div>
                <h3>Wat gebeurt er met je vraag?</h3>
                <p>Uw vraag wordt zo snel mogelijk beantwoord. Soms kan dit onmiddellijk, in andere gevallen vraagt dit wat meer tijd. Indien nodig schakelen we je door naar het juiste team én de juiste</p>
                <div class="collapse" id="collapseTekst4">
                    <p>
                        persoon. 1777 staat in voor contact met alle diensten van de stad en het OCMW, maar ook met de politie, brandweer, Parko, Waterwegen en Zeekanaal ...We houden je steeds op de hoogte van wat er gebeurt met uw vraag.
                        Dankzij alle vragen, opmerkingen en suggesties die bij 1777 terechtkomen, kan onze dienstverlening er alleen maar beter op worden.
                    </p>
                </div>
                <div style="width:100%; height:20px;">
                    <div class="leesmeer">
                        <img id="leesMinder4img" src="https://integratiekortrijk.blob.core.windows.net/images/arrowRightCircle.png" alt="Locatie" />
                        <p><a data-toggle="collapse" href="#collapseTekst4" id="leesMinder4">LEES MEER</a></p>
                    </div>
                </div>
            </div>
            <div class="meldpuntFormulier hidden-xs hidden-sm">
                <div class="inputMeldpunt">
                    <img src="https://integratiekortrijk.blob.core.windows.net/images/emailCircle.png" />
                    <a href="mailto:1777@kortrijk.be" target="_blank">
                        <h4>Via het meldpunt 1777</h4>
                    </a>
                    <form action="/Home/Contact" method="post">
                        <div class="form-group">
                            <label for="Name">Naam:</label>
                            <input type="text" name="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Email">Email: </label>
                            <input type="email" name="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Subject">Onderwerp: </label>
                            <input type="text" name="Subject" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Description">Beschrijving: </label>
                            <textarea id="1" name="Description" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="2" type="submit" value="Verzenden" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <div class="inputContact">
                    <div>
                        <a href="tel:1777" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" />
                            <h4 class="h4diff">Bel ons op 1777</h4>
                        </a>
                    </div>
                    <div>
                        <a href="tel:+32562772" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/phoneCircle.png" />
                            <h4>Bel ons op 0032 56 27 72</h4>
                        </a>
                    </div>
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=be.itidea.app1777" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/iphoneCircle.png" />
                            <h4>Via de 1777 app</h4>
                        </a>
                    </div>
                    <div>
                        <a href="http://maps.apple.com/?q=Grote%20Markt%2054,%208500%20Kortrijk" target="_blank">
                            <img src="https://integratiekortrijk.blob.core.windows.net/images/mapMarkerCircle.png" />
                            <h4>Via het onthaal in het stadhuis</h4>
                        </a>
                    </div>
                    <div id="openingsuren">
                        <img src="https://integratiekortrijk.blob.core.windows.net/images/calendarCircle.png" />
                        <h2 id="openingsurenDiff">Openingsuren:</h2>
                        <ul>
                            <li>Maandag: 11.00 - 18.00    </li>
                            <li>Dinsdag: 11.00 - 18.00    </li>
                            <li>Woensdag: 11.00 - 18.00   </li>
                            <li>Donderdag: 11.00 - 18.00  </li>
                            <li>Vrijdag: 11.00 - 18.00    </li>
                            <li>Zaterdag: 11.00 - 18.00   </li>
                            <li>Zondag: gesloten          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $("#leesMinder1").click(function () {
        var leesmeer = $("#leesMinder1").text();
        console.log(leesmeer);
        if (leesmeer == "LEES MEER") {
            $('#leesMinder1img').css("transform", "rotate(-90deg)")
            $("#leesMinder1").html("LEES MINDER");
        } else {
            $('#leesMinder1img').css("transform", "rotate(90deg)")
            $("#leesMinder1").html("LEES MEER");
        }
    });
    $("#leesMinder2").click(function () {
        var leesmeer = $("#leesMinder2").text();
        console.log(leesmeer);
        if (leesmeer == "LEES MEER") {
            $('#leesMinder2img').css("transform", "rotate(-90deg)")
            $("#leesMinder2").html("LEES MINDER");
        } else {
            $('#leesMinder2img').css("transform", "rotate(90deg)")
            $("#leesMinder2").html("LEES MEER");
        }
    });
    $("#leesMinder3").click(function () {
        var leesmeer = $("#leesMinder3").text();
        console.log(leesmeer);
        if (leesmeer == "LEES MEER") {
            $('#leesMinder3img').css("transform", "rotate(-90deg)")
            $("#leesMinder3").html("LEES MINDER");
        } else {
            $('#leesMinder3img').css("transform", "rotate(90deg)")
            $("#leesMinder3").html("LEES MEER");
        }
    });
    $("#leesMinder4").click(function () {
        var leesmeer = $("#leesMinder4").text();
        console.log(leesmeer);
        if (leesmeer == "LEES MEER") {
            $('#leesMinder4img').css("transform", "rotate(-90deg)")
            $("#leesMinder4").html("LEES MINDER");
        } else {
            $('#leesMinder4img').css("transform", "rotate(90deg)")
            $("#leesMinder4").html("LEES MEER");
        }
    });
</script>