/*#region LayoutModel*/
/*#region Algemeen*/
@font-face {
    font-family: "Myriad Pro Regular";
    src: url(../fonts/MyriadPro-Regular.otf) format("opentype");
}

html, body {
    background: url(/Content/bgPattern.png);
    font-family: "Myriad Pro Regular";
    font-size: 16px;
    height: 100%;
}

    body p {
        color: #626250;
        text-decoration: none;
    }

.wrapperAll {
    min-height: 100%;
    position: relative;
}

.body-content {
    padding-bottom: 100px;
}

.wrapper {
    height: 200px;
}
/*#endregion*/
/*#region Navigatie*/
.vertalenBig {
    float: none;
    text-align: center;
    background: url(/Content/bgpatternHeader.png);
    margin: 0 -15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbar-nav {
    margin: 0 -15px;
}

#navigatieBalk {
    background-color: #c2d197;
    margin: 0;
    height: 150px;
    background: url(/Content/bgpatternHeader.png);
    border: none;
}


.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    background: url(/Content/bgpatternHeader.png);
    text-align: center;
}

.navbar-fixed-top .navbar-collapse {
    padding-left: 0;
}

.navText {
    font-weight: bold;
    color: #626250;
}

.txtSearch {
    width: 68%;
    position: relative;
    float: left;
}

#imgSearch {
    position: absolute;
    right: 27.3%;
    margin-top: 9px;
    width: 15px;
    height: 15px;
}

.logoBanner {
    text-align: center;
    box-shadow: 0 4px 4px -5px #333;
}

    .logoBanner img {
        width: 120px;
        height: 40px;
    }

    .logoBanner img {
        margin-top: 11px;
        margin-left: 65px;
    }

.goog-te-banner-frame {
    display: none;
}

.mediaSocial {
    float: none;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 22%;
}

.mediaImages img {
    width: 20px;
    height: 20px;
    margin: 2px;
    margin-top: 7px;
    float: left;
}

.mediaImages {
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #ecefe4;
    color: rgba(98,98,80,0.6);
}

.navbar-collapse {
    border: none;
}
/*#endregion*/
/*#region Footer*/
.footerContent {
    height: 50px;
    background-color: #e8eddc;
    width: 100%;
    display: inline-block;
}

.footerImages {
    width: 20px;
    height: 20px;
    float: left;
}

.footerContact img {
    float: left;
}

.footerContact {
    width: 123px;
    margin: 0 auto;
}

    .footerContact p {
        float: left;
        margin-left: 5px;
    }

footer {
    text-align: center;
    font-size: 0.8em;
    color: black;
    box-shadow: 0 0 1px 0 #333;
    background-color: #e8eddc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
}

.footerContact p:hover {
    text-decoration: underline;
}
/*#endregion*/
/*#endregion*/
/*#region Index*/
.thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: none;
    padding: 0;
    background-color: none;
    box-shadow: 2px 2px 5px #888888;
    background-color: #acd5bb;
}

    .thumbnail:hover {
        opacity: 0.85;
        background-color: #626350;
    }

.content {
}

.thumbnail p {
    margin: 0 auto;
}

.themaIcons {
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    color: #626250;
}

    .themaIcons p {
        margin: 10px 0 10px;
        height: 50px;
    }

.containerIcons {
    height: 100%;
}

/*#endregion*/
/*#region Contact*/
.toeleidersTekst {
    float: left;
    width: 100%;
}

    .toeleidersTekst h1 {
        display: none;
    }

.socialSmall {
    text-align: center;
}

.toeleidersPic {
    width: 100px;
    height: 100px;
}

.toeleider > div:first-child {
    text-align: center;
}

.toeleider h2 {
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

.toeleider {
    float: left;
    width: 49%;
}

.toeleidersFoto h1 {
    text-align: center;
}

.toeleidersImageSm {
    text-align: center;
    width: 100%;
    height: 30px;
}

.imagesToeleiders img {
    width: 30px;
    height: 30px;
}

.imagesToeleiders a {
    text-decoration: none;
}

.meldpunt {
    background: url(/Content/bgpinkPattern.png);
    margin-bottom: 70px;
}

.meldpuntWrapper {
    width: 100%;
}

.toeleider div p:hover {
    text-decoration: underline;
}

.meldpuntFormulier a:hover {
    text-decoration: underline;
}

.meldpunt h3 {
    margin-top: 35px;
}

.toeleider div p a {
    color: #626250;
}

.contactContent {
    color: #626250;
}

.inputContact img {
    width: 25px;
    height: 25px;
    float: left;
    margin: -6px 5px 0 0;
}

.inputContact h4 {
    font-size: 14px;
    margin: 19px;
    margin-left: 5px;
}

.meldpuntFormulier a {
    text-decoration: none;
}

    .meldpuntFormulier a:hover {
        color: #626250;
    }

.inputContact {
    float: right;
    width: 51%;
}

.dienstInfo img {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 5px;
}

.dienstInfo h4 {
    font-size: 14px;
    padding-left: 23px;
}
/*
.dienstInfo h2 {
    padding-left: 34px;
    padding-top: 7px;
}
*/

.inputMeldpunt h4 {
    font-size: 14px;
}

.form-horizontal {
    width: 150px;
}

.inputMeldpunt p {
    margin-bottom: 2px;
}

.inputMeldpunt img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 5px 0 0;
}

.inputMeldpunt#1 {
    float: left;
}

.inputMeldpunt#2 {
    float: left;
}

#txtLG {
    display: none;
}

#leesMinder1 {
    font-size: 0.75em;
}

#leesMinder1img {
    margin-top: 9px;
}

.leesmeer {
    float: right;
}

    .leesmeer p {
        float: left;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        margin: 5px;
        font-weight: bold;
    }

    .leesmeer a {
        color: #626250;
        text-decoration: none;
    }

    .leesmeer img {
        width: 15px;
        height: 15px;
        float: right;
        margin-top: 5px;
        transform: rotate(90deg);
    }

a {
    color: #626250;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.contactUS {
    text-align: center;
}

    .contactUS img {
        width: 30px;
        height: 30px;
    }

    .contactUS p {
        font-size: 0.75em;
    }

.meldpuntTekst p {
    font-size: 0.75em;
}

h3 {
    font-size: 1.00em;
    font-weight: bold;
}

h1 {
    font-size: 1.00em;
}

.collapseList ul li {
    font-size: 0.75em;
}
/*#endregion*/
/*#region FAQ*/
/*#region Faqs*/
.themasFAQs {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.themasFAQ {
    display: none;
}

.FAQVragen {
    width: 100%;
    margin: 0 auto;
}

    .FAQVragen svg {
        float: right;
        margin-top: 3px;
    }

#nav {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

    #nav a {
        font-size: 0.75em;
    }

    #nav li {
    }

        #nav li a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #000;
            box-shadow: 2px 2px 5px #888888;
            border: 1px solid grey;
            border-radius: 5px 5px 0 0;
            background-color: white;
        }

            #nav li a:hover, #nav li a.active {
            }

        #nav li ul {
            display: none;
            list-style-type: none;
            padding: 0;
        }

            #nav li ul li a {
                padding: 10px 25px;
                background-color: #eeeeee;
                border-radius: 0 0 5px 5px;
            }

    #nav > li {
        margin-top: 20px;
    }
/*#endregion*/
/*#region Themes*/
.faqIcons img {
    width: 67.5px;
    height: 67.5px;
}

.faqIcons {
    padding-right: 10px;
    padding-left: 10px;
}

.active {
    display: block;
}
/*#endregion*/
/*#region Dropdown*/
.dropdown button {
    border: 1px solid grey;
    color: black;
    background-color: white;
}

    .dropdown button:hover {
        background-color: #626250;
    }

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #626250;
}

.btn-primary:focus, .btn-primary.focus, .dropdown-toggle.btn-primary:focus {
    background-color: #626250;
}

.open > .dropdown-toggle.btn-primary:hover {
    background-color: #626250;
}

.dropdown-toggle.btn-primary:focus {
    background-color: #626250;
}

.dropdown {
    width: 100px;
    margin: 0 auto;
}

.containerDropdown {
    margin: 0 auto;
}
/*#endregion*/
/*#endregion*/
/*#region Map*/
#mapContainer {
    display: inline-block;
    position: relative;
    width: 100%;
}

#mapDummy {
    padding-top: 75%;
}

#mapElement {
    position: absolute;
    margin-bottom: 70px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*#endregion*/
/*#region Onderwerp*/
.onderwerpInfo img {
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.onderwerpInfo svg {
    padding-top: 6px;
}

.onderwerpInfo div {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.00em;
}

.onderwerpInfo:link {
    color: #626250;
}

.onderwerpInfo:hover {
    color: #626250;
}

.onderwerpInfo:active {
    color: #626250;
}

.onderwerpInfoLine {
    height: 1px;
    background-color: black;
    width: 100%;
}

.onderwerpInfoSMP {
    font-size: 0.75em;
}

.dienstInfoContact {
}

#openingsuren {
    margin-top: 5px;
    width: 214px;
    margin: 0 auto;
    padding-top: 3px;
}

    #openingsuren li {
        list-style-type: none;
        font-size: 0.75em;
    }

    #openingsuren h2 {
        font-size: 0.75em;
        margin-left: 25px;
        margin-top: 0px;
    }

    #openingsuren img {
        width: 15px;
        height: 15px;
        float: left;
    }

#openingsurenDiff {
    padding-top: 2px;
}

#openingsurenDiff1 {
    padding-top: 2px;
}

.onderwerpImage img {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #acd5bb;
}

.onderwerpImageSM img {
    width: 180px;
    height: 180px;
    margin: 10px;
    background-color: #acd5bb;
}

.dienstInfoContact {
    width: 213px;
    margin: 0 auto;
}

    .dienstInfoContact img {
        width: 15px;
        height: 15px;
    }

    .dienstInfoContact a:hover {
        color: #626250;
    }

.onderwerpImageSM {
    text-align: center;
}

.onderwerpImage {
    text-align: center;
}

.onderwerpLeft {
    width: 100%;
}

.onderwerpRight {
    width: 100%;
}

    .onderwerpRight p {
        padding: 10px;
    }

.svgDetails {
    float: right;
}

/*#endregion*/
/*#region Search*/
.resultaatContent p {
    overflow: hidden;
    height: 70px;
    font-size: 1.00em;
}

.resultaatContent img {
    background-color: #626250;
    width: 100px;
    height: 100px;
}

.resultaatMeer img {
    width: 15px;
    height: 15px;
    float: right;
    margin: 8px;
}

.resultaatContent div {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.resultaatContent {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto;
}

    .resultaatContent h3 {
        color: #626250;
        padding-top: 7px;
        font-weight: bold;
    }

.resultaatMeer {
    width: 100%;
    height: 20px;
    float: right;
}

    .resultaatMeer p {
        font-size: 1.00em;
        float: right;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        margin: 5px;
        height: auto;
        font-weight: bold;
    }

    .resultaatMeer a {
        color: #626250;
        text-decoration: none;
    }

.pagination-container {
    text-align: center;
}

.pagination > .active > a {
    background-color: #626250;
}

    .pagination > .active > a:hover {
        background-color: rgba(98, 98, 80, 0.8);
    }

.pagination > li > a {
    color: #626250;
}

    .pagination > li > a:hover {
        color: #626250;
    }
/*#endregion Search*/
/*#region Backend*/
.form-horizontal {
    width: auto;
    padding: 20px;
}

.table img {
    background-color: #acd5bb;
    border-radius: 10%;
}

.dl-horizontal img {
    background-color: #acd5bb;
    border-radius: 10%;
}
/*#endregion*/

@media (min-width: 768px) {
    /*#region LayoutModel*/
    #imgSearch {
        right: 24.9%;
    }

    .navbar-inverse .navbar-nav > li > a {
        background-color: transparent;
    }

    .navbar-fixed-top .navbar-collapse {
        padding-left: 22.2%;
    }

    .navbar-nav > li > a {
        padding-top: 23px;
        padding-bottom: 15px;
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        background-color: transparent;
    }
    /*#endregion*/
    /*#region Views*/
    .resultaatContent {
        width: 750px;
    }

        .resultaatContent h3 {
            font-size: 1.313em;
        }

    .panelTitle {
        margin: 0 auto;
    }

    .imageBanner {
        margin: 0;
        margin-top: 11px;
    }

    .containerDropdown {
        display: none;
    }

    .themasFAQ {
        display: block;
    }

    .logoBanner img {
        margin-left: 0;
    }

    .mediaSocial {
        padding: 6px 12px;
        padding-left: 26%;
    }

    .vertalenBig {
        background: none;
        padding-top: 0;
    }
    /*#endregion*/
}

@media (min-width: 992px) {
    /*#region LayoutModel*/
    .wrapper {
        height: 170px;
    }

    .navbar-fixed-top .navbar-collapse {
        padding-left: 20px;
    }

    .vertalenBig {
        width: 33%;
        float: right;
        margin: 14px -15px;
    }

    .txtSearch {
        float: left;
        width: auto;
    }

    .mediaImages img {
        width: 20px;
        height: 20px;
        margin: 2px;
        margin-top: 7px;
        margin-left: 5px;
    }

    .mediaImages {
        float: left;
    }

    #navigatieBalk {
        height: 120px;
    }

    #google_translate_element {
        float: right;
        margin-right: 97px;
    }

    .navText {
        border: none;
        width: 435px;
        float: left;
    }

    .mediaSocial {
        width: 435px;
        padding: 6px 12px;
    }
    /*#endregion*/
    /*#region Contact*/
    .toeleider h2 {
        font-size: 1.313em;
    }

    .panelTitle {
        text-align: left;
    }

    #openingsuren {
        float: none;
        width: 100%;
        margin: 0;
    }

        #openingsuren img {
            width: 25px;
            height: 25px;
        }

    .meldpuntTekst p {
        font-size: 1.00em;
    }

    .toeleider div:not(:first-child) {
        display: block;
    }

    .toeleidersFoto {
        width: 66%;
        float: right;
        height: 485px;
    }

    #txtLG {
        display: block;
    }

    #txtSM {
        display: none;
    }

    .toeleidersPic {
        width: 150px;
        height: 150px;
    }

    .toeleider {
        float: left;
        width: 49%;
        margin: 3px;
        margin-top: 62px;
    }

    .toeleidersTekst {
        float: left;
        width: 33%;
    }

    .toeleider div p {
        display: block;
    }

    .toeleidersImageLG {
        margin-left: 91px;
    }

    .imagesToeleiders img {
        width: 15px;
        height: 15px;
        float: left;
        margin-right: 5px;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .toeleidersTekst {
        float: left;
        width: 33%;
    }

        .toeleidersTekst h1 {
            display: block;
        }

    h1 {
        font-size: 2.000em;
    }

    .toeleidersFoto h1 {
        display: none;
    }

    .inputMeldpunt {
        width: 49%;
        float: left;
        padding: 20px;
    }

    .inputContact {
        padding: 20px;
    }
    /*#endregion*/
    /*#region Details*/
    .dienstInfo h4 {
        font-size: 14px;
        padding-left: 34px;
        padding-top: 7px;
    }

    .dienstInfoContact {
        float: none;
        margin: 0;
        width: 100%;
    }

        .dienstInfoContact img {
            width: 25px;
            height: 25px;
        }

    #openingsurenDiff1 {
        padding-top: 6px;
        padding-left: 9px;
    }

    .onderwerpLeft {
        width: 33%;
        float: left;
    }

    .onderwerpRight {
        width: 66%;
        float: right;
    }

    .dienstInfo img {
        margin-top: 0;
    }
    /*#endregion*/
    /*#region Index, Nav & Faq*/
        .themaIcons {
        font-size: 1.0em;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
    }

    .logoBanner img {
        display: block;
    }



    #imgSearch {
        left: 125px;
    }

    #nav a {
        font-size: 1.00em;
    }



    .faqIcons img {
        width: 50px;
        height: 50px;
    }
    /*#endregion*/
}

@media (min-width: 1200px) {
    .meldpuntTekst {
        width: 47%;
        float: left;
    }

    .wrapper {
        height: 130px;
    }

    .meldpuntFormulier {
        width: 49%;
        float: right;
        padding: 41px;
    }

    .inputMeldpunt {
        float: left;
        width: 49%;
    }

    .vertalenBig {
        width: 435px;
        margin: 11px -15px;
    }

    .navText {
        width: 435px;
        float: left;
    }

    #navigatieBalk {
        height: 70px;
    }

    #google_translate_element {
        margin-right: 0;
    }

    .toeleidersFoto {
        padding-left: 65px;
    }

    .faqIcons img {
        width: 67.5px;
        height: 67.5px;
    }
}
