/*#region first page*/
.thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: none;
    padding: 0;
    background-color: none;
    box-shadow: 2px 2px 5px #888888;
}

    .thumbnail:hover {
        background-color: #626350;
    }

body {
    background: url(/Content/bgPattern.png);
}

.wrapper {
    margin-top: 70px;
}

.thumbnail p {
    margin: 0 auto;
}

.themaIcons {
    text-align: center;
    font-size: 0.8em;
}

    .themaIcons p {
        margin: 10px 0 10px;
    }

.banner {
    text-align: center;
    box-shadow: 0 4px 4px -5px #333;
}

    .banner img {
        width: 120px;
        height: 40px;
    }

body {
}

.input-group {
    margin: 0 15px 0 15px;
}

.content {
    height: 5px;
    text-align: center;
}

.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 15px;
}

.imageBanner {
    margin-top: 11px;
}

.mediaImages {
    float: left;
    margin: 2px;
}
.goog-te-gadget {
    white-space: normal;
}
.navText {
    color: #626250;
    font-weight: bold;
}

.mediaSocial {
    height: 70px;
    float: right;
    margin-top: 19px;
}

.vertalen {
    margin: 0;
    float: right;
}

.mediaImages {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.rowSocial {
    width: 223px;
    height: 30px;
}

.footerContent {
    height: 50px;
    background-color: #e8eddc;
}

.footerImages {
    width: 15px;
    height: 15px;
    float: left;
}

.footerContent p {
}

.footerContact p {
    float: right;
}

.footerContact {
    width: 250px;
}

footer {
    text-align: center;
    color: black;
    font-size: 1.0em;
    box-shadow: 0 -4px 4px -5px #333;
}

.inputSearch span button {
    background-color: #E32119;
    color: white;
}
/*#endregion*/
#nav {
    float: left;
    width: 100%;
    list-style-type: none;
}

    #nav li {
    }

        #nav li a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #000;
            box-shadow: 2px 2px 5px #888888;
            border: 1px solid grey;
            border-radius: 5px 5px 0 0;
        }

            #nav li a:hover, #nav li a.active {
            }

        #nav li ul {
            display: none;
            list-style-type: none;
            padding: 0;
        }

            #nav li ul li a {
                padding: 10px 25px;
                background-color: #eeeeee;
                border-radius: 0 0 5px 5px;
            }

.FAQVragen {
    width: 100%;
    margin: 0 auto;
}

.themes {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

    .themes ul li a {
        text-decoration: none;
        color: black;
    }

    .themes ul {
        list-style-type: none;
        padding: 0;
    }

        .themes ul ul {
            display: none;
            padding: 0;
        }

.active {
    display: block;
}

.dropdown button {
    border: 1px solid grey;
    color: black;
    background-color: white;
}

    .dropdown button:hover {
        background-color: #6A1B5A;
    }

.dropdown {
    width: 100px;
    margin: 0 auto;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .themaIcons {
        font-size: 1.0em;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
    }

    .mediaImages {
    }
}

#navigatieBalk {
    background-color: #c2d197;
    margin: 0;
    height: 70px;
    background: url(/Content/bgpatternHeader.png);
    border: none;
}

@media (min-width: 1200px) {
    .vertalen {
        float: none;
    }
}
