/*.banner {
    text-align: center;
}

body {
    background: url(/Content/assets/bgPattern.png);
}

.input-group {
    margin: 0 15px 0 15px;
}

.content {
    text-align: center;
}

.imgSocial {
    text-align: center;
}

.mediaImages {
    height: 25px;
    margin: 5px;
}

.row {
    text-align: center;
}

.navbar {
    display: none;
}

.content div {
    margin: 0 auto;
    margin: 10px;
}

footer {
    text-align: center;
    color: black;
    font-size: 1.0em;
}

#homepageP1 {
    background-color: black;
    height: 1px;
    width: 100%;
}

.themaIcons {
    float: left;
}

    .themaIcons p {
        margin-bottom: 10px;
    }

    .themaIcons img {
        margin: 0 auto;
    }

#containerIcons {
    text-align: center;
    margin: 10px;
    width: auto;
    display: block;
}

.rijIcons {
    display: inline-block;
}

.thumbnail {
    margin: 15px;
    width: 50px;
}

.themaIcons {
    margin: 15px;
    height: auto;
    width: 80px;
    font-size: 0.9em;
}

.caption {
    font-size: 0.8em;
    width: auto;
    height: auto;
}

.onderwerpTekst {
    font-size: 0.8em;
    width: auto;
    height: auto;
}

.contentOnderwerp {
    width: auto;
    height: 310px;
}

.onderwerpImage {
    width: 100px;
    height: 100px;
}

.onderwerpContent {
    width: 250px;
    height: auto;
    float: left;
    margin: 10px;
}

.onderwerkTekst {
    width: auto;
    height: auto;
}

#nav {
    float: left;
    width: 100%;
    list-style-type: none;
}

    #nav li {
    }

        #nav li a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #000;
            border: 1px solid grey;
            border-radius: 5px 5px 0 0;
        }

            #nav li a:hover, #nav li a.active {
            }

        #nav li ul {
            display: none;
            list-style-type: none;
            padding: 0;
        }

            #nav li ul li a {
                padding: 10px 25px;
                background-color: #eeeeee;
                border-radius: 0 0 5px 5px;
            }

.FAQVragen {
    width: 100%;
    margin: 0 auto;
}

.themes {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

    .themes ul li a {
        text-decoration: none;
        color: black;
    }

    .themes ul {
        list-style-type: none;
        border: 1px solid grey;
        padding: 0;
    }

        .themes ul ul {
            display: none;
            padding: 0;
        }

.active {
    display: block;
}

.dropdown button {
    border: 1px solid grey;
    color: black;
    background-color: white;
}

    .dropdown button:hover {
        background-color: #6A1B5A;
    }

.dropdown {
    width: 100px;
    margin: 0 auto;
}

@media (max-width: 550px) {
    .imageBanner {
        width: 100%;
    }
}

@media(min-width: 500px) {
    .themaIcons {
        margin: 34px;
    }
}

@media(min-width: 650px) {
    .onderwerpTekst {
        font-size: 1.0em;
    }

    .onderwerpImage {
        width: 200px;
        height: 200px;
    }
}

@media(min-width:320px) {
    .themaIcons {
        margin: 34px;
        height: 80px;
    }

    .imageBanner {
        width: 120px;
        height: 40px;
    }
}

@media(min-width: 360px) {
    .themaIcons {
        margin: 2px;
    }
}

@media(min-width:411px) {
    .themaIcons {
        margin: 5px;
    }
}

@media(min-width: 414px) {
    .themaIcons {
        margin: 9px;
    }
}

@media(min-width:508px) {
    .themaIcons {
        margin: 20px;
    }
}

@media(min-width: 550px) {
    .imageBanner {
        width: 200px;
        height: 67px;
    }
}

@media(min-width:620px) {
    .themaIcons {
        margin: 32px;
    }
}

@media(min-width: 740px) {
    .themaIcons {
        margin: 38px;
    }
}

@media(min-width: 768px) {
    .imageBanner {
        margin: 0 auto;
    }

    .mediaImages {
        height: 50px;
        margin: 10px 33px 10px 33px;
    }

    .themaIcons {
        font-size: 1.2em;
    }
}

@media(min-width:950px) {
    .themaIcons {
        width: 110px;
        margin: 64px;
    }

    .thumbnail {
        width: 110px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        width: 900px;
        margin: 0 auto;
    }

    .inputSearch {
        width: 890px;
        margin: 0 auto;
    }

    .col-md-3 {
        float: none;
    }

    .themaIcons {
        width: 110px;
        height:110px;
        margin: 55px;
    }

    .thumbnail {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) {
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px)and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .themaIcons {
        margin: 22px;
    }
}

/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
/* .themaIcons {
        width: 110px;
        height: 110px;
    }
}*/
.thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

    .thumbnail p {
        margin: 0 auto;
    }

.themaIcons {
    text-align: center;
    font-size: 0.8em;
}

.banner {
    text-align: center;
}

body {
    background: url(/Content/assets/bgPattern.png);
}

.input-group {
    margin: 0 15px 0 15px;
}

.content {
    text-align: center;
}

.imgSocial {
    text-align: center;
}

.mediaImages {
    width: 25px;
    margin: 5px;
}

footer {
    text-align: center;
    color: black;
    font-size: 1.0em;
}

.inputSearch span button {
    background-color: #E32119;
    color: white;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .themaIcons {
        font-size: 1.0em;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
    }

    .mediaImages {
        width: 50px;
    }
}

@media (min-width: 1200px) {
}
